<article id="user_post" style="width: 90%; margin: auto">
  <div class="post_wrapper" style="border: 2px solid black; padding: 0 1rem;">
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem;">
      <div class="header">
        <h1><%= @post.title %> by <%= @user.name %></h1>
      </div>
      <div>
        <span>Comments: <%= @post.comment__counter %></span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
    </div>
    <p style="word-break: break-word;"><%= @post.text %></p>
  </div>
  <div class="comments_wrapper" style="border: 2px solid black; padding: 1rem 1rem; margin-top: 1rem;">
    <% @post.recent_comments.each do |comment| %>
      <div style="margin-bottom: 1rem;">
        <span>User <%= comment.users_id %></span> : <span><%= comment.text %></span>
      </div>
    <% end %>
  </div>
</article>
