<article class="main_article" style="width: 90%; margin: auto">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <%= image_tag @user.photo, :style => "border: 2px solid black; max-height: 140px; height: 100%;" %>
    <div style="min-width: 80%; border: 2px solid black; padding: 0 2rem;">
      <p style="font-size: 2rem;"><%= @user.name %></p>
      <p style="text-align: end;">Number of posts: <%= @user.post_counter %></p>
    </div>
  </div>

  <% @user.recent_posts.each_with_index do |post, index| %>
    <div>
      <div class="post"  style="width: 100%; border: 2px solid black; padding: 0 2rem; margin-top: 2rem; padding-bottom: 2rem;">
        <h4>Post #<%= index + 1 %></h4>
        <div>
          <p style="word-break: break-word;"><%= post.title %></p>
        </div>
        <div class="post_footer" style="font-weight: bold; display: flex; justify-content: end; gap: 0.5rem;">
          <span>Comments: <%= post.comment__counter %></span>
          <span>Likes: <%= post.likes_counter %></span>
        </div>
      </div>
      <div style="width: 100%; border: 2px solid black; padding: 1rem 2rem; margin-top: 2rem;">
        <div class="comments">
          <% post.recent_comments.each do |comment| %>
            <div style="margin-bottom: 1rem;">
              <span>User <%= comment.users_id %></span> : <span><%= comment.text %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</article>
