<article id="user_post">
  <div class="post_wrapper">
    <div class="post_header">
      <div class="header">
        <h1><%= @post.title %> by <%= @user.name %></h1>
      </div>
      <div>
        <span>Comments: <%= @post.comment__counter %></span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
    </div>
    <div class="post_actions">
      <p style="post_content"><%= @post.text %></p>
      <div class="actions">
        <%= form_with url: like_create_path(@post.author, @post), method: :post, remote: true do |form| %>
          <%= form.hidden_field :author_id, value: @user.id %>
          <%= form.hidden_field :post_id, value: @post.id %>
          <%= form.submit "Like" %>
        <% end %>
        <%= link_to "Add Comment", "/users/#{@user.id}/post/#{@post.id}/comment/new", :class => "comment_link" %>
      </div>
    </div>
  </div>
  <div class="comments_wrapper">
    <% @post.recent_comments.each do |comment| %>
      <div class="comment">
        <span>User <%= comment.users_id %></span> : <span><%= comment.text %></span>
      </div>
    <% end %>
  </div>
</article>
